body {
        background-color: lightblue;
}

        .parent {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                width: 400px;
                height: 300px;
                border: 4px solid midnightblue;
        }

        .child {
                border: solid 8px;
                border-color: darkred;
                background-color: palevioletred;
                width: 80px;
                height: 80px;
        }
