body {
        margin: 0;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
}

.header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
}

ul {
        display: flex;
        flex-direction: row;
        gap: 12px;
        list-style-type: none;
}

a {
        color: gray;
        text-decoration: none;
}

.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 8px;
}

.footer {
        background-color: #eeeeee;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        margin: 0;
}

button {
        padding: 4px;
        border-radius: 8px;
        border-color: lightgray;
}